<!DOCTYPE html>
<html lang="en">
<head>
<title>Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="/static/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="/static/images/headshot.jpg" alt="User" />
    </div>

    <div id="name">
      <h1 class="quickFade delayTwo">{{name}}</h1>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>e: <a href="{{email}}" target="_blank">{{email}}</a></li>
        <li>m: Individual</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    
    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>

      <div class="sectionContent">
        {% for org in verified %}
        <article>
          <h2>{{org['jobTitle']}}</h2>
          <p class="subDetails">Verified by {{org['verifier']}}</p>
          <p>{{org['description']}}</p>
          <p>{{org['verify_remarks']}}</p>
        </article>
        {% endfor %}
        {% for org in unverified %}
        <article>
          <h2>{{org['jobTitle']}}</h2>
          <p class="subDetails">Unverified</p>
          <p>{{org['description']}}</p>
          <p>{{org['verify_remarks']}}</p>
        </article>
        {% endfor %}
      </div>
      <div class="clear"></div>
    </section>


        
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
